.video-player {
  height: 100%;
  width: auto;
}

.back-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #fff;
  opacity: 0;
  font-size: 30px;
  cursor: pointer;
  transition: opacity 0.5s ease-in 2.5s;
}

/* .back-arrow:hover, body:hover .back-arrow {
  transition: opacity 0.5s ;
  opacity: 1;
} */

.back-arrow-hovered {
  transition: opacity 0.5s;
  opacity: 1;
}