.fl {
  display: flex;
}

.fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-right {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}