/* CommonHeader */
.header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.ant-layout-header {
  background: #000;
}

.ant-menu-horizontal {
  background: #000;
  color: #fff;
  border-bottom: 1px solid #000;
}

.ant-dropdown-link {
  background: transparent;
  border: none;
}

.common-header-right {
  margin-left: auto;
}

.common-dropdown {
  margin-left: 10px;
}

.common-icon {
  font-size: 20px;
  color: #fff;
  margin-left: 5px;
}