video {
  height: 112px;
  background: #000;
}

.showcase-card {
  width: 200px;
  /* background: transparent; */
}

.ant-card-body {
  padding: 0;
}

.showcase-card-container {
  width: fit-content;
}

.showcase-player {
  display: none !important;
}


.showcase-card:hover .video-body {
  opacity: 1;
  height: fit-content;
  padding: 5px;
}

.video-body {
  transition: opacity 0.3s, height 0.3s;
  opacity: 0;
  height: 0;
}

.video-title {
  display: -webkit-box;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: 2.4em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.video-author {
  color: gray;
  margin-top: 10px;
  font-size: 12px;
}

.video-subInfo {
  color: gray;
  font-size: 12px;
}